<div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <%= icon("pencil", "Compose a new message") %>
        </p>
      </header>

      <div class="card-content">
        <div class="content">
        <%= form_for @message do |f| %>
          <div class="field">
            <div class="control">
              <%= f.label :recipient_id, class: "label" %>
              <div class="select">
                <%= f.select :recipient_id, current_user.recipients %>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.label :body, class: "label"%>
              <%= f.text_area :body, class: "textarea "%>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary">
              <%= icon("send", "Send") %>
              </button>
            </div>
          </div>
      </div>
      <% end %>

      </div>
</div>