<div class="columns">
<div class="column is-half" style="margin-left: auto; margin-right: auto">

    <%= form_tag friends_new_path, method: "get" do %>
  <div class="field has-addons" style="margin-right: 20px; margin-top: 25px; margin-bottom: 20px;">
    
    <div class="control is-expanded">
      <%= text_field_tag :q, params[:q], class: "input", placeholder: "Find Someone"%>
    </div>
    <div class="control">
    <%= button_tag "Search", class: "button is-primary"%>
    </div>
  </div>
      <% end %>


  <% @users.each do |user| %>
    <% unless current_user.is_friend?(user) %>
    <div class="card" style="margin-right: 20px; margin-bottom: 20px; margin-top: 10px;">
        <div class="card-content is-clearfix">
            <div class="media-left is-pulled-left">
              <figure class="image is-96x96">
                <img src="<%= user.avatar %>" alt="Image" style="border-radius: 50%;">
              </figure>
            </div>
            <div class="media-content is-pulled-left">
              <p class="title is-4"><%= user.fullname %></p>
              <p class="subtitle is-6" style="margin-top: 2px;">Number of Friends: <%= user.friends.count%><br>
              Friended by: <%= Friendship.friended_by_count(user) %></p>
          </div>
            <%= form_for current_user.friendships.build(friend: user) do |f| %>
              <%= f.hidden_field :friend_id %>
              <%= button_to "Add Friend", friendships_path, class: "button is-primary is-pulled-right" %>
            <% end %>
          </div>
         </div>
        <% end %>
      <% end %>
   </div>
</div>