<div class="columns">
  <div class="column">
  </div>
    <div class="column is-half">
      
      <div class="card" style="margin-top: 25px;">

        <header class="card-header">
          <p class="card-header-title">
            Your Profile
          </p>
        </header>

        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="<%= @user.image_url %>" alt="Image" style="border-radius: 50%;">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><%= @user.fullname %></p>
              <p class="subtitle is-6"><%= @user.email %></p>
              <p class="subtitle is-6">Number of Friends added: <%= @user.friends.count %><br>
              Added as a Friend by: <%= Friendship.friended_by_count(@user) %></p>
            </div>
          </div> 
        </div>

      </div>


        <div class="card" style="margin-top: 25px;">
          <header class="card-header">
            <p class="card-header-title">
              Your Wall
            </p>
          </header>
          <div class="card-content">
            <% @wallposts.each do |wallpost| %>
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="<%= wallpost.author.image_url %>" alt="Image" style="border-radius: 50%;">
                </figure>
              </div>
              <div class="media-content">
                <p class="subtitle is-6"><%= wallpost.body %></p>
                <p class="subtitle is-6" style="font-style: italic">Posted by: <%= wallpost.author.fullname %> <%= time_ago_in_words(wallpost.created_at) %> ago</p>
              </div>
            </div> 
            <% end %>
          </div>
          </div>

        <div class="card" style="margin-top: 25px;">
          <header class="card-header">
            <p class="card-header-title">
              New Wall Post
            </p>
          </header>

          <div class="tabs is-boxed is-centered" style="margin-top: 15px;">
            <ul>
              <li class="is-active" id="li-only-you">
                <a id="only-you">
                  <span>Post only on your Wall</span>
                </a>
              </li>
              <li id="li-mention-friend">
                <a id="mention-friend">
                  <span>Post also on a friends Wall</span>
                </a>
              </li>
            </ul>
          </div>



          <div class="card-content" id="wallpost">
            <div class="content">
            <%= form_for @wallpost do |f| %>
              <div class="field">
                <div class="control">
                  <%= f.text_area :body, class: "textarea "%>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button class="button is-primary">Post
                  </button>
                </div>
              </div>
          </div>
            <% end %>
          </div>

          <div class="card-content hidden" id="mention">
            <div class="content">
            <%= form_for @wallpost do |f| %>
              <div class="field">
                <div class="control">
                  <%= f.label :mention_id, "Friend you want to mention:", class: "label" %>
                  <div class="select">
                    <%= f.select :mention_id, current_user.recipients %>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= f.text_area :body, class: "textarea "%>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button class="button is-primary">Post
                  </button>
                </div>
              </div>
          </div>
            <% end %>
          </div>



        </div>
      </div>

  <div class="column">
  </div>
</div>






