<div class="card" style="margin-top: 25px;">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
          <img src="<%= user.avatar %>" alt="Image" style="border-radius: 50%;">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= user.fullname %></p>
        <p class="subtitle is-6"><%= user.email %></p>
        <p class="subtitle is-6">Number of Friends added: <%= user.friends.count %><br>
        Added as a Friend by: <%= Friendship.friended_by_count(user) %></p>
      </div>
    </div> 
  </div>
</div>