<div class="card-content">
  <div class="media">
    <div class="media-left">
      <figure class="image is-48x48">
        <img src="<%= wall_post.author.avatar %>" alt="Image" style="border-radius: 50%;">
      </figure>
    </div>
    <div class="media-content">
      <% if wall_post.image.present? %>
        <%= image_tag wall_post.image, style: "margin-bottom: 10px;"%>
      <% end %>
      <p class="subtitle is-6"><%= wall_post.body %></p>
      <p style="font-style: italic; font-size: small">Posted by: 
        <%= link_to wall_post.author.fullname, wall_path(id: wall_post.author.id) %>
          <% unless wall_post.mention_id == nil %>
            on <%= link_to User.mentioned_name(wall_post), wall_path(id: wall_post.mention_id) %>'s Wall
          <% end %>
        <%= time_ago_in_words(wall_post.created_at) %> ago</p>
        <p style="font-style: italic; font-size: small"> 
        <% if wall_post.mentions.any? %>
          <%= display_mentions(wall_post) %>
        <% end %></p>
    </div>
  </div> 
</div>

<% if wall_post.likes.count > 0 %>
  <div class="card-footer">
    <p class="card-footer-item">
      <%= fa_icon("thumbs-up", text: "") %>
      <small style="font-style: italic;">
        <%= wall_post.likes.map {|l| l.user.fullname}.to_sentence %>
      </small>
    </p>
  </div>
<% end %>

<div class="card-footer">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <%= link_to fa_icon("thumbs-up", text: "Like"), toggle_like_path(wall_post_id: wall_post.id), 
            class: "button is-white js-like-button #{"is-liked" if current_user.likes.where(item: wall_post.id).first}", 
            method: "post", remote: true %>
      </div>
      <div class="level-item">
        <%= link_to fa_icon("comments", text: "#{wall_post.display_comments_count}"), "#", class: "button is-white #{"is-liked" if wall_post.comments.count > 0} comment-toggle"%>
      </div>
    </div>
  </div>
</div>